@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkBlue: #262E38;
    --lightGrey: #969FAD;
    --orange: #FC7614;
    --veryDarkBlue: #131518;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--veryDarkBlue);
}

main {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.card {
    background: radial-gradient(circle at center, #232A34 0, #181E27 100%);
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 0.9375rem;
    margin: auto;
}

.card-success {
    text-align: center;
}

.card .circle-background {
    background-color: var(--darkBlue);
    width: 2.625rem;
    height: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--lightGrey);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card .headline {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

.card .text-content {
    font-size: 0.875rem;
    color: var(--lightGrey);
    line-height: 1.375rem;
    display: block;
    max-width: 31ch;
}

.rating-form fieldset {
    display: flex;
    color: var(--lightGrey);
    align-items: center;
    justify-content: space-between;
    border: 0;
    margin: 1.5rem 0;
}

.rating-form input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

input[type="radio"]:focus + .circle-background {
    outline: 2px solid #fff;
    outline-offset: 3px;
}

.rating-form input[type="radio"]:checked + .circle-background {
    background-color: #fff;
    color: var(--darkBlue);
}

.rating-form input[type="radio"] + .circle-background {
    cursor: pointer;
}

.rating-form .circle-background:hover {
    background-color: var(--orange);
    color: var(--darkBlue);
}

.rating-form .button-submit {
    background-color: var(--orange);
    padding: 0.875rem;
    border-radius: 9999px;
    width: 100%;
    display: block;
    color: var(--veryDarkBlue);
    font-size: 0.875rem;
    font-weight: 700;
    border: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

.rating-form .button-submit:hover {
    background-color: #fff;
}

.rating-form .button-submit:focus {
    outline: 2px solid #fff;
    outline-offset: 3px;
}

.card-success .image-success {
    display: block;
    max-width: 100%;
    height: 6rem;
    margin: 0.5rem auto 0;
}

.card-success .rating-pill {
    color: var(--orange);
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    background-color: var(--darkBlue);
    border: 1px solid var(--darkBlue);
    font-size: 0.875rem;
    line-height: 1.375rem;
    display: flex;
    gap: 0.15rem;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 1.5rem auto;
}

@media screen and (min-width: 48em) {
    .card {
        padding: 2rem 2.5rem 2rem 2rem;
        border-radius: 1.875rem;
    }

    .card .headline {
        font-size: 1.75rem;
        margin: 1rem 0 0.5rem;
    }

    .card .text-content {
        max-width: 21.25rem;
        font-size: 0.9375rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .card .circle-background + h1 {
        margin-top: 2rem;
    }

    .card .image-success {
        height: 6.75rem;
        margin: 0.75rem auto;
    }

    .card .circle-background {
        width: 3.25rem;
        height: 3.25rem;
        font-size: 1rem;
    }

    .rating-form .button-submit {
        margin-top: 2rem;
        font-size: 0.9375rem;
    }

    .card-success .rating-pill {
        margin: 2rem auto;
    }
}